<mat-card class="mat-elevation-z1">
  <mat-card-header>
    <mat-card-title>
      {{article.name | slice:0:19}}<span *ngIf="article.name.length > 19">&nbsp;[...]</span>
    </mat-card-title>
    <mat-card-subtitle>
      {{article.dateAdded | date}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image [src]="article.photo"/>
    <strong>Descripción:</strong>&nbsp;{{article.description | slice:0:85}}<span
    *ngIf="article.description.length > 85">&nbsp;[...]</span><br>
    <strong>Costo:</strong>&nbsp;{{article.cost | currency}}<br>
    <strong>En existencia:</strong>&nbsp;{{article.stock}}
  </mat-card-content>
  <mat-card-actions align="right">
    <button mat-stroked-button (click)="editArticle()">Editar</button>
    <button mat-stroked-button color="warn" (click)="deleteArticle()">Eliminar</button>
  </mat-card-actions>
</mat-card>
